* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #e4ece4;
  position: relative;
  top: 0;
  left: 0;
}

h1,
h2,
h3 {
  margin: 0;
}
